@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*
{
  font-family: ('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

p
{
margin-left: 20%;
margin-right: 20%;
}

div
{
  margin-top: 15%;
}

nav
{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0%;
    background-color:  var(--Var2);
    width: 100%;
    padding: 20px;
    
}

#meio
{
  margin-left: 150px;
  margin-right: 150px;
}

a{
  color: #1c2f47;
  text-decoration: none;

}

a:hover{
  background-color: var(--Var1);
}

body
{
font-size: 20px;
background-color: var(--Var3) ;
text-align: center;
color: rgb(255, 255, 255);
}




h1
{
font-size: 60px;
color: #000;
margin-top: 10%;
text-align: left;
margin-left: 30%;
}

h2 
{
    margin-block: 0%;
    background-color: var(--Var2);
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}




section{
  padding: 2%;
}

aside{
  text-align: left;
}

footer
{
  color: #000;
  background-color: var(--Var2);
  text-align: center;

}



#img{
margin-top: 2%;
float: right;
margin-right: 35%;
}

#logo{
width: 100px;  
margin:0%;
justify-content: start;
padding: 0%;
align-items: top;
margin-right:82%;
position: fixed;
z-index: 2;
top: 5px;
border-radius: 20%;

}

:root{
 --Var1: #915915;
 --Var2: #BB8644;
 --Var3: #C99E69;
 --Var4: #1c2f47;
}


